

    /*Home section*/
    .homeSection {
        width: 100vw;
        height: 100vh;
    }

    .nameColumn {
        text-align: center;
        height: 100vh;
    }

    .nameColumn h1 {
        padding-top: 30%;
        color: #000;
        font-size: 6.75em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .homeColumn {
        background: #000;
        height: 100vh;
        text-align: center;
    }

    .homeArticle {
        padding-top: 35%;
        color: #fff;
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .sectionLinksList li {
        display: inline;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: lighter;
    }

    .sectionLinksList li > a:link {
        color: #fff;
        border-bottom: 0.05em solid #fff;
        padding: 0.65em;
    } 

    .sectionLinksList li > a:visited {
        color: #fff;
        padding: 0.65em;
    } 

    .sectionLinksList li > a:hover{
        color: #fff;
        text-decoration: none;
        font-weight: 1000;
    }

    #skill-link-in-home {
        margin-right: 2em;
        margin-left: 2em;
    }

    /*Projects section*/
    .projectsSection {
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    .projectSectionHeader {
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .black-project {
        background: #000;
    }

    .project-name-header {
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
    }

    .white-project-header {
        color: #fff;
    }

    .github-project-image, .the-C-blog-image, .traffic-tracker-image, .help-image  {
        border-radius: 100%;
        height: 34vh;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5%;
    }

    .project-description {
        font-size: 1.25em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .githubScreenshot, .blogScreenshot, .trafficScreenshot, .helpScreenshot {
        margin-left: auto;
        margin-right: auto;
        border: 0.05em solid #000;
    }

    .github-languages-used, .blog-languages-used, .help-languages-used, .traffic-languages-used, .rant-languages-used {
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        top: 5%;
    }

    .viewSiteButton {
        background: #000;
        border-color: #000;
        color: #fff;
        width: 8vw;
        height: 5vh;
        font-size: 1.15em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        margin-right: 20%;
        display: inline-block;
    }

    .viewSiteButton:link {
        width: 9vw;
        height: 6vh;
        font-size: 1.25em;
        text-decoration: none;
    } 

    .viewSiteButton:visited {
        width: 9vw;
        height: 6vh;
        font-size: 1.25em;
        text-decoration: none;
    } 

    .viewSiteButton:hover {
        width: 9vw;
        height: 6vh;
        font-size: 1.25em;
        text-decoration: none;
        text-decoration: none;
    }

    i.fa.fa-github.githubIcon {
        color: #000;
        font-size: 4em;
        vertical-align: middle;
    }

    a > i.fa.fa-github.githubIcon:hover {
        font-weight: 1000;
        text-decoration: none;
    }
    
    /*Skills Section*/
    .skillsSection {
        width: 100vw;
        height: 100vh;
        background-color: #fff; 
    }

    .skillsHeader {
        font-size: 4.5em;
        color: #000;
        padding-top: 0.25%; 
        padding-bottom: 0.25%; 
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .back-end-row {
        padding-bottom: 4.5%;
    }

    .front-end-row {
        background-color: #000;
        padding-bottom: 5.75%;
    }

    .back-end-skills-header, .front-end-skills-header {
        font-size: 3.5em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
    }

    .skill-description, .front-end-skill-description {
        font-size: 1.5em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .back-end-skills-header, .skill-description {
        color: #000;
    }

    .front-end-skills-header, .front-end-skill-description {
        color: #fff;
    }

    .skills-white {
        background: #fff;
    }

    .back-end-icon-column {
        /*padding-top: 4%;*/
        /*padding-bottom: 0%;*/
    }

    .front-end-column {
        /*padding-top: 2%;*/
        /*padding-bottom: 17.6%;*/
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon {
        display: block;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon  {
        padding-left: 20%;
        padding-top: 5%;
    }

    .python-icon , .django-icon, .postgres-icon {
        height: 15vh;
    }

    .flask-icon {
        height: 13vh;
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        display: block;
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        height: 21vh;
        padding-left: 20%;
        padding-top: 11%;
    }

    .bootstrap-icon {
        height: 19vh;
        padding-left: 23%;
        padding-top: 9%;    
    }

    /*Contact Section*/
    .contactSection {
        padding-bottom: 1.5%;
        margin-top: -0.5%;
    }

    .contactSectionHeader { 
        text-align: center; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
    }

    .fa.fa-envelope.emailIcon { 
        color: #000;
        font-size: 2.5em;
    }

    a > span.email {
        color: #000;
        font-size: 1.30em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    #emailLink:hover {
        color: #333;
        text-decoration: none;
    }

    .socialInfo {
        text-align: center;
        display: inline-block;  
    }

    .fa.fa-github.githubSocialIcon, .fa.fa-linkedin.linkedinSocialIcon {
        color: #000;
        font-size: 2.5em;
    }

    .fa.fa-linkedin.linkedinSocialIcon {
        padding-left: 10%;
    }

    .socialLink:hover {
        color: #333;
        text-decoration: none;
    }


/*My laptop*/
 

    /*Home section*/
    .homeSection {
        width: 100vw;
        height: 100vh;
    }

    .nameColumn {
        text-align: center;
        height: 100vh;
    }

    .nameColumn h1 {
        padding-top: 30%;
        color: #000;
        font-size: 6.75em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .homeColumn {
        background: #000;
        height: 100vh;
        text-align: center;
    }

    .homeArticle {
        padding-top: 35%;
        color: #fff;
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .sectionLinksList li {
        display: inline;
        font-size: 2.25em;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: 100;
    }

    .sectionLinksList li > a{
        color: #fff;
        border: 0.01em solid #fff;
        padding: 0.65em;
    }

    #skill-link-in-home {
        margin-right: 0.80em;
        margin-left: 0.80em;
    }

    .sectionLinksList li > a:hover{
        color: #337ab7;
        text-decoration: none;
    }

    /*Projects section*/
    .projectsSection {
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    .projectSectionHeader {
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .project-name-header {
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
    }

    .project-description {
        font-size: 1.25em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .black-project {
        background: #000;
        color: #fff;
    }

    .github-project-image, .the-C-blog-image, .help-image, .traffic-tracker-image, .rant-on-image {
        border-radius: 100%;
    }

    .github-project-image {
        height: 18vh;
        padding-left: 40%;
        padding-right: 40%;
        padding-top: 1%;
    }

    .the-C-blog-image {
        height: 18vh;
        padding-left: 40%;
        padding-right: 40%;
    }

    .traffic-tracker-image {
        height: 18vh;
        padding-left: 40%;
        padding-right: 40%;
        padding-top: 5%;
    }

    .help-image  {
        height: 18vh;
        padding-left: 40%;
        padding-right: 40%;
        padding-top: 5%;
    }

    .github-languages-used, .blog-languages-used, .help-languages-used, .traffic-languages-used, .rant-languages-used {
        font-size: 0.95em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        top: 5%;
    }

    i.fa.fa-github.githubIcon {
        padding-top: 2%;
        font-size: 4em;
    }

    a > i.fa.fa-github.githubIcon:hover {
        color: #333;
    }

    a > i.fa.fa-github.githubIcon.black:hover {
        color: #fff;
    }

    /*Skills Section*/
    .skillsSection {
        width: 100vw;
        height: 100vh;
        background-color: #000; 
    }

    .skillsHeader {
        font-size: 4.5em;
        color: #fff;
        padding-top: 1.5%; 
        padding-bottom: 3%; 
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .back-end-skills-header, .front-end-skills-header {
        font-size: 3.5em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
    }

    .skill-description, .front-end-skill-description {
        font-size: 1.5em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .back-end-skills-header, .skill-description {
        color: #fff;
    }

    .front-end-skills-header, .front-end-skill-description {
        color: #000;
    }

    .skills-white {
        background: #fff;
    }

    .back-end-icon-column {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .front-end-column {
        padding-top: 2%;
        padding-bottom: 8%;
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon {
        display: block;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon  {
        height: 15vh;
        padding-left: 20%;
        padding-top: 5%;
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        display: block;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        height: 15vh;
        padding-left: 20%;
        padding-top: 5%;
    }

    .bootstrap-icon {
        height: 16vh;
        padding-left: 10%;
        padding-top: 5%;    
    }

    /*Contact Section*/
    .contactSection {
        padding-bottom: 1.5%;
    }

    .contactSectionHeader { 
        text-align: center; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
    }

    .fa.fa-envelope.emailIcon { 
        font-size: 2.5em;
    }

    a > span.email {
        color: #333;
        font-size: 1.30em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    #emailLink:hover {
        color: #333;
        text-decoration: none;
    }

    .socialInfo {
        text-align: center;
        display: inline-block;  
    }

    .fa.fa-github.githubSocialIcon, .fa.fa-linkedin.linkedinSocialIcon {
        font-size: 2.5em;
    }

    .fa.fa-linkedin.linkedinSocialIcon {
        padding-left: 10%;
    }

    .socialLink:hover {
        color: #333;
        text-decoration: none;
    }



/*Style .jumbotron in section1*/

.jumbotron {
    text-align: center;
    background-color: #FDFEFE;   
}


/*Style .jumbotron h1 in section1*/

.jumbotron h1 {
    font-family: Pattaya;
    font-size: 6em;
}


/*Style .jumbotron p in section1*/

.jumbotron p {
    font-family: Ruthie;
    font-size: 4em;
}

/*Style h3 in section2*/

.section2 h3 {
    font-family: Pattaya;
    font-size: 2.5em;
    text-align: justify;
}

/*Stye image in section2*/
.section2 img {  
    border-radius: 2.5em 9.75em;
    padding: 2em; 
}

/*Style of p and ul in section2 and p in section4 and section5*/

.section2 p, .section2 ul {
    font-family: Alike;
    font-size: 1.5em;
}

/*Style .motto in section2*/

.motto { 
    font-family: Ruthie;
    font-size: 2.15em;
}

/*Animate content in .motto and .jumbotron p in section1 and section2*/

.motto, .jumbotron p, .section3 h2 {
    color: #922B21;
    position: relative;
    /* Chrome and Safari*/
    -webkit-animation-name: motto-animation;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    /*Firefox*/
    -moz-animation-name: motto-animation;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    /*Opera*/
    -o-animation-name: motto-animation;
    -o-animation-duration: 4s;
    -o-animation-iteration-count: infinite;
    animation-name: motto-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


/*Chrome and Safari*/

@-webkit-keyframes motto-animation {
    0% {
    color: #922B21;
    }
    25% {
    color: #B03A2E;
    }
    50% {
    color: #76448A;
    }
    75% {
    color: #6C3483;
    }
    100% {
    color: #1F618D;
    }
}


/*Fifefox*/

@-moz-keyframes motto-animation {
    0% {
    color: #922B21;
    }
    25% {
    color: #B03A2E;
    }
    50% {
    color: #76448A;
    }
    75% {
    color: #6C3483;
    }
    100% {
    color: #1F618D;
    }
}


/*Opera*/

@-o-keyframes motto-animation {
    0% {
    color: #922B21;
    }
    25% {
    color: #B03A2E;
    }
    50% {
    color: #76448A;
    }
    75% {
    color: #6C3483;
    }
    100% {
    color: #1F618D;
    }
}

/*Style section3*/

.section3 h2{
    font-family: Pattaya;
    font-size: 6em;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

/*Style .panel-primary in section4 and section5*/

.panel-primary {
    border-color: #AED6F1;
}

/*Style .panel-heading  in section4 and section5*/

.panel-primary > .panel-heading {
    background: #5DADE2;
}

/*Style .panel-footer  in section4 and section5*/

.panel-primary > .panel-footer {
    background: #FDFEFE;
}

/*Style h3 in section4 and section5*/

.section4 h3, .section5 h3 {
    font-family: Pattaya;
    font-size: 2.5em;
    text-align: center;
}

/*Style p in section4 and section5*/

.section4 p, .section5 p{
    font-family: Alike;
    font-size: 1.5em;
    text-align: center;
}

/*Style #projectPhotographyImage in section4*/

#projectPhotographyImage{
    width: 98%;
    padding-left: 5%;
}

/*Style #projectCaterersImage in section4*/

#projectCaterersImage{
    width: 95.5%;
    padding-left: 5%;
}

/*Style #projectPingPongImage in section5*/

#projectPingPongImage{
    width: 81.5%;
    padding-left: 5%;
}

/*Style #projectPigDiceImage in section5*/
#projectPigDiceImage{
    width: 95%;
    padding-left: 5%;
}