/*Small screen phone*/
@media screen and (max-device-width: 320px)  { 

    /*Home section*/
    .homeSection {
        width: 100vw;
        height: 100vh;
    }

    .nameColumn {
        text-align: center;
        height: 50vh;
    }

    .nameColumn h1 {
        padding-top: 30%;
        color: #000;
        font-size: 3.75em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .homeColumn {
        background: #000;
        height: 50vh;
        text-align: center;
    }

    .homeArticle {
        padding-top: 30%;
        color: #fff;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .sectionLinksList li {
        display: inline;
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: lighter;
    }

    .sectionLinksList li > a:link {
        color: #fff;
        border-bottom: 0.01em solid #fff;
        padding: 0.35em;
    }

    .sectionLinksList li > a:visited {
        color: #fff;
        text-decoration: none;
        padding: 0.35em;
    } 

    .sectionLinksList li > a:hover{
        color: #fff;
        text-decoration: none;
        font-weight: 1000;
    }

    #skill-link-in-home {
        margin-right: 0.80em;
        margin-left: 0.80em;
    }

    /*Projects section*/
    .other-devices {
        display: none; 
    }

    .projectsSection {
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    .projectSectionHeader {
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }

    .white-phone-project {
        background: #fff;
        color: #000
    }

    .black-phone-project {
        background: #000;
        color: #fff;
    }

    .project-name-header {
        font-size: 1.75em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
    }

    .github-project-image, .the-C-blog-image, .help-image, .traffic-tracker-image, .rant-on-image {
        border-radius: 100%;
        height: 14vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
    }

    /*Skills Section*/
    .skillsSection {
        width: 100vw;
        height: 100vh;
        background-color: #fff;
    }

    .skillsHeader {
        font-size: 3em;
        color: #000;
        padding-top: 0.25%; 
        padding-bottom: 0.25%; 
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .back-end-row {
        padding-bottom: 9%;
    }

    .front-end-row {
        background-color: #000;
        padding-bottom: 16.75%;
    }

    .back-end-skills-header, .front-end-skills-header {
        font-size: 2.25em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
    }

    .skill-description, .front-end-skill-description  {
        font-size: 0.95em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .back-end-skills-header, .skill-description {
        color: #000;
    }

    .front-end-skills-header, .front-end-skill-description {
        color: #fff;
    }

    .skills-white {
        background: #fff;
    }

    .back-end-icon-column {
        /*margin-bottom: -1%;*/
    }

    .front-end-column {
        /*padding-top: 2%;
        padding-bottom: 4%;*/
    }

    .back-end-column {
        /*padding-bottom: 4%;*/
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon {
        display: block;
        padding-left: 20%;
        padding-top: 5%;
    }

    .python-icon , .django-icon, .postgres-icon  {
        height: 10vh;
    }

    .flask-icon {
        height: 8vh;
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        display: block;
    }

    .css3-icon, .html5-icon {
        height: 13vh;
        padding-left: 20%;
        padding-top: 8%;
    }

    .bootstrap-icon {
        height: 12vh;
        padding-top: 12%;
        padding-left: 23%;
    }

    /*Contact Section*/
    .contactSection {
        padding-bottom: 1.5%;
        margin-top: -0.75%;
    }

    .contactSectionHeader { 
        color: #000;
        text-align: center; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
        font-size: 2em; 
    }

    .contactInfo {
        text-align: center; 
    }

    .fa.fa-envelope.emailIcon { 
        color: #000;
        font-size: 1.5em;
    }

    a > span.email {
        color: #000;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    #emailLink:hover {
        color: #333;
        text-decoration: none;
    }

    .socialInfo {
        text-align: center;
        display: inline-block;  
    }

    .fa.fa-github.githubSocialIcon, .fa.fa-linkedin.linkedinSocialIcon {
        color: #000;
        font-size: 2em;
    }

    .fa.fa-linkedin.linkedinSocialIcon {
        padding-left: 10%;
    }

    .socialLink:hover {
        color: #333;
        text-decoration: none;
    }

}

/*Medium screen phone*/
@media screen and (min-device-width: 321px) and (max-device-width: 375px)  { 
 
    /*Home section*/
    .homeSection {
        width: 100vw;
        height: 100vh;
    }

    .nameColumn {
        text-align: center;
        height: 50vh;
    }

    .nameColumn h1 {
        padding-top: 30%;
        color: #000;
        font-size: 3.75em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .homeColumn {
        background: #000;
        height: 50vh;
        text-align: center;
    }

    .homeArticle {
        padding-top: 30%;
        color: #fff;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .sectionLinksList li {
        display: inline;
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: lighter;
    }

    .sectionLinksList li > a:link{
        color: #fff;
        border-bottom: 0.05em solid #fff;
        padding: 0.35em;
    }

    .sectionLinksList li > a:visited {
        color: #fff;
        padding: 0.35em;
    } 

    .sectionLinksList li > a:hover{
        color: #fff;
        text-decoration: none;
        font-weight: 1000;
    }

    #skill-link-in-home {
        margin-right: 0.80em;
        margin-left: 0.80em;
    }

    /*Projects section*/
    .other-devices {
        display: none; 
    }

    .projectsSection {
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    .projectSectionHeader {
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding-top: 0%;
        margin-bottom: 0%;
    }

    .white-phone-project {
        background: #fff;
        color: #000
    }

    .black-phone-project {
        background: #000;
        color: #fff;
    }

    .project-name-header {
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
    }

    .github-project-image, .the-C-blog-image, .help-image, .traffic-tracker-image, .rant-on-image {
        border-radius: 100%;
        height: 13vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
    }

    /*Skills Section*/
    .skillsSection {
        width: 100vw;
        height: 100vh;
        background-color: #fff;  
        padding-top: 0.10%;
    }

    .skillsHeader {
        font-size: 3em;
        color: #000;
        padding-top: 0.25%; 
        padding-bottom: 0.25%; 
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .back-end-row {
        padding-bottom: 6%;
    }

    .front-end-row {
        background-color: #000;
        padding-bottom: 6.5%;
    }

    .back-end-skills-header, .front-end-skills-header {
        font-size: 2.25em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
    }

    .skill-description, .front-end-skill-description  {
        font-size: 0.95em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .back-end-skills-header, .skill-description {
        color: #000;
    }

    .front-end-skills-header, .front-end-skill-description {
        color: #fff;
    }

    .skills-white {
        background: #fff;
    }

    .back-end-icon-column {
        /*margin-bottom: -1%;*/
    }

    .front-end-column {
        /*padding-top: 2%;
        padding-bottom: 4%;*/
    }

    .back-end-column {
        /*padding-bottom: 4%;*/
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon {
        display: block;
        padding-left: 20%;
        padding-top: 5%;
    }

    .python-icon , .django-icon, .postgres-icon  {
        height: 10vh;
    }

    .flask-icon {
        height: 9vh;
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        display: block;
    }

    .css3-icon, .html5-icon {
        height: 13vh;
        padding-left: 20%;
        padding-top: 8%;
    }

    .bootstrap-icon {
        height: 12vh;
        padding-top: 12%;
        padding-left: 23%;
    }

    /*Contact Section*/
    .contactSection {
        padding-bottom: 1.5%;
        margin-top: 2%;
        padding-top: 3%;
    }

    .contactSectionHeader { 
        color: #000;
        text-align: center; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
        font-size: 2em; 
    }

    .contactInfo {
        text-align: center; 

    }

    .fa.fa-envelope.emailIcon {
        color: #000; 
        font-size: 1.5em;
    }

    a > span.email {
        color: #000;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    #emailLink:hover {
        color: #333;
        text-decoration: none;
    }

    .socialInfo {
        text-align: center;
        display: inline-block;  
    }

    .fa.fa-github.githubSocialIcon, .fa.fa-linkedin.linkedinSocialIcon {
        color: #000;
        font-size: 2em;
    }

    .fa.fa-linkedin.linkedinSocialIcon {
        padding-left: 13%;
    }

    .socialLink:hover {
        color: #333;
        text-decoration: none;
    }

}

/*Large screen phone*/
@media screen and (min-device-width: 376px) and (max-device-width: 426px)  { 
 
    /*Home section*/
    .homeSection {
        width: 100vw;
        height: 100vh;
    }

    .nameColumn {
        text-align: center;
        height: 50vh;
    }

    .nameColumn h1 {
        padding-top: 30%;
        color: #000;
        font-size: 3.75em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .homeColumn {
        background: #000;
        height: 50vh;
        text-align: center;
    }

    .homeArticle {
        padding-top: 30%;
        color: #fff;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .sectionLinksList li {
        display: inline;
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: lighter;
    }

    .sectionLinksList li > a:link{
        color: #fff;
        border-bottom: 0.05em solid #fff;
        padding: 0.35em;
    }

    .sectionLinksList li > a:visited {
        color: #fff;
        padding: 0.35em;
    } 

    .sectionLinksList li > a:hover{
        color: #fff;
        text-decoration: none;
        font-weight: 1000;
    }

    #skill-link-in-home {
        margin-right: 0.80em;
        margin-left: 0.80em;
    }

    /*Projects section*/
    .other-devices {
        display: none; 
    }

    .projectsSection {
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    .projectSectionHeader {
        font-size: 2.75em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }

    .white-phone-project {
        background: #fff;
        color: #000
    }

    .black-phone-project {
        background: #000;
        color: #fff;
    }

    .project-name-header {
        font-size: 2.15em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
    }

    .github-project-image, .the-C-blog-image, .help-image, .traffic-tracker-image, .rant-on-image {
        border-radius: 100%;
        height: 13vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }

    /*Skills Section*/
    .skillsSection {
        width: 100vw;
        height: 100vh;
        background-color: #fff; 
    }

    .skillsHeader {
        font-size: 3em;
        color: #000;
        padding-top: 0.25%; 
        padding-bottom: 0.25%; 
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .back-end-row {
        padding-bottom: 9%;
    }

    .front-end-row {
        background-color: #000;
        padding-bottom: 16.75%;
    }

    .back-end-skills-header, .front-end-skills-header {
        font-size: 2.25em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
    }

    .skill-description, .front-end-skill-description  {
        font-size: 0.95em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .back-end-skills-header, .skill-description {
        color: #000;
    }

    .front-end-skills-header, .front-end-skill-description {
        color: #fff;
    }

    .skills-white {
        background: #fff;
    }

    .back-end-icon-column {
        /*margin-bottom: -1%;*/
    }

    .front-end-column {
        /*padding-top: 2%;*/
        /*padding-bottom: 4%;*/
    }

    .back-end-column {
        /*padding-bottom: 4%;*/
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon {
        display: block;
        padding-left: 20%;
        padding-top: 5%;
    }

    .python-icon , .django-icon, .postgres-icon  {
        height: 10vh;
    }

    .flask-icon {
        height: 9vh;
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        display: block;
    }

    .css3-icon, .html5-icon {
        height: 13vh;
        padding-left: 20%;
        padding-top: 8%;
    }

    .bootstrap-icon {
        height: 12vh;
        padding-top: 12%;
        padding-left: 23%;
    }

    /*Contact Section*/
    .contactSection {
        padding-bottom: 1.5%;
        margin-top: -0.75%;
    }

    .contactSectionHeader { 
        color: #000;
        text-align: center; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
        font-size: 2em; 
    }

    .contactInfo {
        text-align: center;
    }

    .fa.fa-envelope.emailIcon { 
        color: #000;
        font-size: 1.5em;
    }

    a > span.email {
        color: #000;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    #emailLink:hover {
        color: #333;
        text-decoration: none;
    }

    .socialInfo {
        text-align: center;
        display: inline-block;  
    }

    .fa.fa-github.githubSocialIcon, .fa.fa-linkedin.linkedinSocialIcon {
        color: #000;
        font-size: 2em;
    }

    .fa.fa-linkedin.linkedinSocialIcon {
        padding-left: 10%;
    }

    .socialLink:hover {
        color: #333;
        text-decoration: none;
    }

}

/*Tablet screen device*/
@media screen and (min-device-width: 427px) and (max-device-width: 770px)  { 
 
    /*Home section*/
    .homeSection {
        width: 100vw;
        height: 100vh;
    }

    .nameColumn {
        text-align: center;
        height: 100vh;
    }

    .nameColumn h1 {
        padding-top: 70%;
        color: #000;
        font-size: 3.75em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .homeColumn {
        background: #000;
        height: 100vh;
        text-align: center;
    }

    .homeArticle {
        padding-top: 73%;
        color: #fff;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .sectionLinksList li {
        display: inline;
        font-size: 1.45em;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: lighter;
    }

    .sectionLinksList li > a:link {
        color: #fff;
        border-bottom: 0.05em solid #fff;
        padding: 0.35em;
    }

    .sectionLinksList li > a:visited {
        color: #fff;
        padding: 0.65em;
    } 

    .sectionLinksList li > a:hover{
        color: #fff;
        text-decoration: none;
    }

    #skill-link-in-home {
        margin-right: 2em;
        margin-left: 2em;
    }

    /*Projects section*/ 
    .phone-projects {
        display: none;
    }

    .projectsSection {
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    .projectSectionHeader {
        font-size: 2.5em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .projectsRow1 {
        padding-top: 5%;
    }

    .other-devices {
        padding-bottom: 8%;
    }

    .black-project {
        background: #000;
    }

    .project-name-header {
        font-size: 1.5em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
    }

    .white-project-header {
        color: #fff;
    }

    .github-project-image, .the-C-blog-image, .help-image, .traffic-tracker-image, .rant-on-image {
        border-radius: 100%;
        height: 17vh;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.5%;
    }

    .project-description {
        font-size: 1.25em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .githubScreenshot, .blogScreenshot, .trafficScreenshot, .helpScreenshot {
        margin-left: auto;
        margin-right: auto;
        border: 0.05em solid #000;
    }

    .trafficScreenshot {
        padding-bottom: 0.05%;
    }

    .github-languages-used, .blog-languages-used, .help-languages-used, .traffic-languages-used, .rant-languages-used {
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        top: 5%;
    }

    .viewSiteButton {
        background: #000;
        border-color: #000;
        color: #fff;
        width: 7.95vw;
        height: 3.5vh;
        font-size: 0.67em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        margin-right: 20%;
        display: inline-block;
    }

    .viewSiteButton:link {
        width: 7.95vw;
        height: 3.5vh;
        font-size: 0.67em;
        text-decoration: none;
    } 

    .viewSiteButton:visited {
        width: 7.95vw;
        height: 3.5vh;
        font-size: 0.67em;
        text-decoration: none;
    } 

    .viewSiteButton:hover {
        width: 7.95vw;
        height: 3.5vh;
        font-size: 0.67em;
        text-decoration: none;
    }    

    i.fa.fa-github.githubIcon {
        color: #000;
        font-size: 2.75em;
        vertical-align: middle;
    }

    a > i.fa.fa-github.githubIcon:hover {
        font-weight: 1000;
        text-decoration: none;
    }

    /*Skills Section*/
    .skillsSection {
        width: 100vw;
        height: 100vh;
        background-color: #fff; 
    }

    .skillsHeader {
        font-size: 3em;
        color: #000;
        padding-top: 0.5%; 
        padding-bottom: 0.5%; 
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .back-end-row {
        padding-bottom: 10.5%;
    }

    .front-end-row {
        background-color: #000;
        padding-bottom: 10.75%;
    }

    .back-end-skills-header, .front-end-skills-header {
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
    }

    .skill-description, .front-end-skill-description  {
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .back-end-skills-header, .skill-description {
        color: #000;
    }

    .front-end-skills-header, .front-end-skill-description {
        color: #fff;
    }

    .skills-white {
        background: #fff;
    }

    .back-end-icon-column {
        /*padding-top: 6%;
        padding-bottom: 4%;*/
    }

    .front-end-column {
        /*padding-top: 1%;*/
        /*padding-bottom: 25.65%;*/
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon {
        display: block;
        padding-left: 20%;
        padding-top: 2%;
        margin-top: 15%;
    }

    .python-icon , .django-icon, .postgres-icon  {
        height: 9.5vh;
    }

    .flask-icon {
        padding-left: 0%;
        padding-top: 0%;
        height: 9vh;
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        display: block;
    }

    .css3-icon, .html5-icon {
        height: 16vh;
        padding-left: 20%;
        padding-top: 15%;
    }

    .bootstrap-icon {
        height: 13vh;
        padding-left: 23%;
        padding-top: 12%;
    }

    /*Contact Section*/
    .contactInfo {
        text-align: center; 
    }

    .contactSection {
        padding-bottom: 1.5%;
        /*margin-top: -0.75%;*/
    }

    .contactSectionHeader { 
        text-align: center; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
        font-size: 2em; 
        color: #000;
    }

    .fa.fa-envelope.emailIcon { 
        color: #000;
        font-size: 1.5em;
    }

    a > span.email {
        color: #000;
        font-size: 0.87em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    #emailLink:hover {
        color: #333;
        text-decoration: none;
    }

    .socialInfo {
        padding-top: 1%;
        text-align: center;
        display: inline-block;  
    }

    .fa.fa-github.githubSocialIcon, .fa.fa-linkedin.linkedinSocialIcon {
        color: #000;
        font-size: 2em;
    }

    .fa.fa-linkedin.linkedinSocialIcon {
        padding-left: 30%;
    }

    .socialLink:hover {
        color: #333;
        text-decoration: none;
    }

}

/*Small screen laptop*/
@media screen and (min-device-width: 771px) and (max-device-width: 1025px)  { 
 
    /*Home section*/
    .homeSection {
        width: 100vw;
        height: 100vh;
    }

    .nameColumn {
        text-align: center;
        height: 100vh;
    }

    .nameColumn h1 {
        padding-top: 50%;
        color: #000;
        font-size: 4.75em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .homeColumn {
        background: #000;
        height: 100vh;
        text-align: center;
    }

    .homeArticle {
        padding-top: 53%;
        color: #fff;
        font-size: 2.5em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .sectionLinksList li {
        display: inline;
        font-size: 1.25em;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: lighter;
    }

    .sectionLinksList li > a:link{
        color: #fff;
        border-bottom: 0.05em solid #fff;
        padding: 0.35em;
    }

    .sectionLinksList li > a:visited {
        color: #fff;
        padding: 0.35em;
    } 

    .sectionLinksList li > a:hover{
        color: #fff;
        text-decoration: none;
        font-weight: 1000;
    }

    #skill-link-in-home {
        margin-right: 2em;
        margin-left: 2em;
    }

    /*Projects section*/
    .phone-projects {
        display: none;
    }

    .projectsSection {
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    .projectSectionHeader {
        font-size: 2.5em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .other-devices {
        padding-bottom: 4.5%;
    }

    .black-project {
        background: #000;
    }

    .project-name-header {
        font-size: 1.5em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
    }

    .white-project-header {
        color: #fff;
    }

    .github-project-image, .the-C-blog-image, .help-image, .traffic-tracker-image, .rant-on-image {
        border-radius: 100%;
        height: 25vh;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5%;
    }

    .project-description {
        font-size: 1.25em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .githubScreenshot, .blogScreenshot, .trafficScreenshot, .helpScreenshot {
        margin-left: auto;
        margin-right: auto;
        border: 0.05em solid #000;
    }

    .trafficScreenshot {
        padding-bottom: 0.05%;
    }

    .github-languages-used, .blog-languages-used, .help-languages-used, .traffic-languages-used, .rant-languages-used {
        font-size: 0.95em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        top: 5%;
    }

    .viewSiteButton {
        background: #000;
        border-color: #000;
        color: #fff;
        width: 8vw;
        height: 5vh;
        font-size: 0.5em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        margin-right: 20%;
        display: inline-block;
    }

    .viewSiteButton:link {
        width: 8vw;
        height: 5vh;
        font-size: 0.5em;
        text-decoration: none;
    } 

    .viewSiteButton:visited {
        width: 8vw;
        height: 5vh;
        font-size: 0.5em;
        text-decoration: none;
    } 

    .viewSiteButton:hover {
        font-weight: 1000;
        text-decoration: none;
    }

    i.fa.fa-github.githubIcon {
        color: #000;
        font-size: 2.5em;
        vertical-align: middle;    
    }

    a > i.fa.fa-github.githubIcon:hover {
        font-weight: 1000;
        text-decoration: none;
    }

    /*Skills Section*/
    .skillsSection {
        width: 100vw;
        height: 100vh;
        background-color: #fff; 
    }

    .skillsHeader {
        font-size: 3em;
        color: #000;
        padding-top: 0.18%; 
        padding-bottom: 0.15%; 
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .back-end-row {
        padding-bottom: 3.75%;
    }

    .front-end-row {
        background-color: #000;
        padding-bottom: 7.75%;
    }

    .back-end-skills-header, .front-end-skills-header {
        font-size: 2.75em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
    }

    .skill-description, .front-end-skill-description  {
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .back-end-skills-header, .skill-description {
        color: #000;
    }

    .front-end-skills-header, .front-end-skill-description {
        color: #fff;
    }

    .skills-white {
        background: #fff;
    }

    .back-end-icon-column {
        /*padding-top: 3%;
        padding-bottom: 4%;*/
    }

    .front-end-column {
        /*padding-top: 1%;*/
        /*padding-bottom: 21.75%;*/
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon {
        display: block;
        padding-left: 20%;
        padding-top: 2%;
        margin-top: 5%;
    }

    .python-icon , .django-icon, .postgres-icon  {
        height: 15vh;
    }

    .flask-icon {
        height: 13vh;
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        display: block;
    }

    .css3-icon, .html5-icon {
        height: 22vh;
        padding-left: 20%;
        padding-top: 22%;
    }

    .bootstrap-icon {
        height: 18vh;
        padding-left: 22%;
        padding-top: 10%;
    }

    /*Contact Section*/

    .contactInfo {
        text-align: center; 
    }

    .contactSection {
        padding-bottom: 1.5%;
        margin-top: -0.75%;
    }

    .contactSectionHeader { 
        text-align: center; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
        font-size: 2em;  
        color: #000;
    }

    .contactInfo {
        text-align: center; 

    }

    .fa.fa-envelope.emailIcon {  
        color: #000;
        font-size: 1.75em;
    }

    a > span.email {
        color: #000;
        font-size: 1.15em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    #emailLink:hover {
        color: #333;
        text-decoration: none;
    }

    .socialInfo {
        text-align: center;
        display: inline-block;  
    }

    .fa.fa-github.githubSocialIcon, .fa.fa-linkedin.linkedinSocialIcon {
        color: #000;
        font-size: 2.25em;
    }

    .fa.fa-linkedin.linkedinSocialIcon {
        padding-left: 15%;
    }

    .socialLink:hover {
        color: #333;
        text-decoration: none;
    }
  
}

/*Large screen laptop*/
@media screen and (min-device-width: 1441px) and (max-width: 2559px) {  

    /*Home section*/
    .homeSection {
        width: 100vw;
        height: 100vh;
    }

    .nameColumn {
        text-align: center;
        height: 100vh;
    }

    .nameColumn h1 {
        padding-top: 50%;
        color: #000;
        font-size: 8em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .homeColumn {
        background: #000;
        height: 100vh;
        text-align: center;
    }

    .homeArticle {
        padding-top: 50%;
        color: #fff;
        font-size: 4em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .sectionLinksList li {
        display: inline;
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: lighter;
    }

    .sectionLinksList li > a:link{
        color: #fff;
        border-bottom: 0.01em solid #fff;
        padding: 0.45em;
    } 

    .sectionLinksList li > a:visited {
        color: #fff;
        padding: 0.65em;
    } 

    .sectionLinksList li > a:hover{
        color: #fff;
        text-decoration: none;
        font-weight: 1000;
    }

    #skill-link-in-home {
        margin-right: 1.75em;
        margin-left: 1.75em;
    }

    /*Projects section*/
    .phone-projects {
        display: none;
    }

    .projectsSection {
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    .projectSectionHeader {
        font-size: 4em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .projectsRow1 {
        padding-top: 1%;
    }

    .other-devices {
        padding-bottom: 5%;
    }

    .black-project {
        background: #000;
    }

    .project-name-header {
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
    }

    .white-project-header {
        color: #fff;
    }

    .github-project-image, .the-C-blog-image, .help-image, .traffic-tracker-image, .rant-on-image {
        border-radius: 100%;
        height: 24vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6%;
        /*padding-bottom: 0.5%;*/
    }

    .modal-dialog {
        width: 75vw;
    }

    .modal-body {
        height: auto;
    }

    button.close {
        font-size: 4.5em;
    }

    .project-description {
        font-size: 3em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        padding-top: 0.75%;
    }

    .githubScreenshot, .blogScreenshot, .trafficScreenshot, .helpScreenshot {
        margin-left: auto;
        margin-right: auto;
        border: 0.05em solid #000;
    }

    .github-languages-used, .blog-languages-used, .help-languages-used, .traffic-languages-used, .rant-languages-used {
        font-size: 2em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        top: 5%;
    }

    .viewSiteButton {
        background: #000;
        border-color: #000;
        color: #fff;
        width: 7.75vw;
        height: 4.5vh;
        font-size: 2.40em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        margin-right: 20%;
        display: inline-block;
    }

    .viewSiteButton:link {
        width: 9vw;
        height: 6vh;
        font-size: 1.25em;
        text-decoration: none;
    } 

    .viewSiteButton:visited {
        width: 9vw;
        height: 6vh;
        font-size: 1.25em;
        text-decoration: none;
    } 

    .viewSiteButton:hover {
        width: 9vw;
        height: 6vh;
        font-size: 1.25em;
        text-decoration: none;
    }

    i.fa.fa-github.githubIcon {
        color: #000;
        font-size: 7.5em;
        vertical-align: middle;
    }

    a > i.fa.fa-github.githubIcon:hover {
        font-weight: 1000;
        text-decoration: none;
    }

    /*Skills Section*/
    .skillsSection {
        width: 100vw;
        height: 100vh;
        background-color: #fff; 
    }

    .skillsHeader {
        font-size: 5em;
        color: #000;
        padding-top: 1%; 
        padding-bottom: 1%; 
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .back-end-row {
        padding-bottom: 4.5%;
    }

    .front-end-row {
        background-color: #000;
        padding-bottom: 8.25%;
    }

    .back-end-skills-header, .front-end-skills-header {
        font-size: 3.5em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
    }

    .skill-description, .front-end-skill-description {
        font-size: 1.75em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .back-end-skills-header, .skill-description {
        color: #000;
    }

    .front-end-skills-header, .front-end-skill-description {
        color: #fff;
    }

    .skills-white {
        background: #fff;
    }

    .back-end-icon-column {
        /*padding-top: 4%;*/
        /*padding-bottom: 4%;*/
    }

    .front-end-column {
        /*padding-top: 2%;*/
        /*padding-bottom: 20%;*/
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon {
        display: block;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon  {
        padding-left: 20%;
        padding-top: 5%;
    }

    .python-icon , .django-icon, .postgres-icon {
        height: 15vh;
    }

    .flask-icon {
        height: 13vh;
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        display: block;
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        height: 19vh;
        padding-left: 20%;
        padding-top: 10%;
    }

    .bootstrap-icon {
        height: 16vh;
        padding-left: 21.5%;
        padding-top: 5%;    
    }

    /*Contact Section*/

    .contactInfo {
        text-align: center; 
    }

    .contactSection {
        padding-bottom: 1.5%;
        margin-top: 0.5%;
    }

    .contactSectionHeader { 
        color: #000;
        text-align: center; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
        font-size: 3.5em;
    }

    .fa.fa-envelope.emailIcon {  
        color: #000;
        font-size: 2em;
    }

    a > span.email { 
        color: #000;
        font-size: 2em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    #emailLink:hover {
        color: #333;
        text-decoration: none;
    }

    .socialInfo {
        text-align: center;
        display: inline-block; 
        padding-top: 0.5%; 
    }

    .fa.fa-github.githubSocialIcon, .fa.fa-linkedin.linkedinSocialIcon { 
        color: #000;
        font-size: 3em;
    }

    .fa.fa-linkedin.linkedinSocialIcon {
        padding-left: 10%;
    }

    .socialLink:hover {
        color: #333;
        text-decoration: none;
    }

}

/*Larger Large screen laptop*/
@media screen and (min-device-width: 2560px) {  

    /*Home section*/
    .homeSection {
        width: 100vw;
        height: 100vh;
    }

    .nameColumn {
        text-align: center;
        height: 100vh;
    }

    .nameColumn h1 {
        padding-top: 50%;
        color: #000;
        font-size: 8em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .homeColumn {
        background: #000;
        height: 100vh;
        text-align: center;
    }

    .homeArticle {
        padding-top: 50%;
        color: #fff;
        font-size: 4em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .sectionLinksList li {
        display: inline;
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: lighter;
    }

    .sectionLinksList li > a:link{
        color: #fff;
        border-bottom: 0.01em solid #fff;
        padding: 0.45em;
    } 

    .sectionLinksList li > a:visited {
        color: #fff;
        padding: 0.65em;
    } 

    .sectionLinksList li > a:hover{
        color: #fff;
        text-decoration: none;
        font-weight: 1000;
    }

    #skill-link-in-home {
        margin-right: 1.75em;
        margin-left: 1.75em;
    }

    /*Projects section*/
    .phone-projects {
        display: none;
    }

    .projectsSection {
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    .projectSectionHeader {
        font-size: 4em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .projectsRow1 {
        padding-top: 1%;
    }

    .other-devices {
        padding-bottom: 5%;
    }

    .black-project {
        background: #000;
    }

    .project-name-header {
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
    }

    .white-project-header {
        color: #fff;
    }

    .github-project-image, .the-C-blog-image, .help-image, .traffic-tracker-image, .rant-on-image {
        border-radius: 100%;
        height: 24vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6%;
        /*padding-bottom: 0.5%;*/
    }

    .modal-dialog {
        width: 75vw;
    }

    .modal-body {
        height: auto;
    }

    button.close {
        font-size: 4.5em;
    }

    .project-description {
        font-size: 3em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        padding-top: 0.75%;
    }

    .githubScreenshot, .blogScreenshot, .trafficScreenshot, .helpScreenshot {
        margin-left: auto;
        margin-right: auto;
        border: 0.05em solid #000;
    }

    .github-languages-used, .blog-languages-used, .help-languages-used, .traffic-languages-used, .rant-languages-used {
        font-size: 2em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        top: 5%;
    }

    .viewSiteButton {
        background: #000;
        border-color: #000;
        color: #fff;
        width: 7.75vw;
        height: 4.5vh;
        font-size: 2.40em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        margin-right: 20%;
        display: inline-block;
    }

    .viewSiteButton:link {
        width: 9vw;
        height: 6vh;
        font-size: 1.25em;
        text-decoration: none;
    } 

    .viewSiteButton:visited {
        width: 9vw;
        height: 6vh;
        font-size: 1.25em;
        text-decoration: none;
    } 

    .viewSiteButton:hover {
        width: 9vw;
        height: 6vh;
        font-size: 1.25em;
        text-decoration: none;
    }

    i.fa.fa-github.githubIcon {
        color: #000;
        font-size: 7.5em;
        vertical-align: middle;
    }

    a > i.fa.fa-github.githubIcon:hover {
        font-weight: 1000;
        text-decoration: none;
    }

    /*Skills Section*/
    .skillsSection {
        width: 100vw;
        height: 100vh;
        background-color: #fff; 
    }

    .skillsHeader {
        font-size: 5em;
        color: #000;
        padding-top: 1%; 
        padding-bottom: 1%; 
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .back-end-row {
        padding-bottom: 4.5%;
    }

    .front-end-row {
        background-color: #000;
        padding-bottom: 8.25%;
    }

    .back-end-skills-header, .front-end-skills-header {
        font-size: 3.25em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600; 
    }

    .skill-description, .front-end-skill-description {
        font-size: 2.25em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    .back-end-skills-header, .skill-description {
        color: #000;
    }

    .front-end-skills-header, .front-end-skill-description {
        color: #fff;
    }

    .skills-white {
        background: #fff;
    }

    .back-end-icon-column {
        /*padding-top: 4%;*/
        /*padding-bottom: 4%;*/
    }

    .front-end-column {
        /*padding-top: 2%;*/
        /*padding-bottom: 20%;*/
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon {
        display: block;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }

    .python-icon , .django-icon, .postgres-icon, .flask-icon  {
        padding-left: 20%;
        padding-top: 5%;
    }

    .python-icon , .django-icon, .postgres-icon {
        height: 15vh;
    }

    .flask-icon {
        height: 13vh;
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        display: block;
    }

    .css3-icon, .html5-icon, .bootstrap-icon {
        height: 19vh;
        padding-left: 20%;
        padding-top: 10%;
    }

    .bootstrap-icon {
        height: 16vh;
        padding-left: 21.5%;
        padding-top: 5%;    
    }

    /*Contact Section*/

    .contactInfo {
        text-align: center; 
    }

    .contactSection {
        padding-bottom: 1.5%;
        margin-top: 0.05%;
    }

    .contactSectionHeader { 
        color: #000;
        text-align: center; 
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;  
        font-size: 3.75em;
    }

    .fa.fa-envelope.emailIcon {  
        color: #000;
        font-size: 3.25em;
    }

    a > span.email { 
        color: #000;
        font-size: 3.15em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }

    #emailLink:hover {
        color: #333;
        text-decoration: none;
    }

    .socialInfo {
        text-align: center;
        display: inline-block; 
        padding-top: 0.5%; 
    }

    .fa.fa-github.githubSocialIcon, .fa.fa-linkedin.linkedinSocialIcon { 
        color: #000;
        font-size: 5.75em;
    }

    .fa.fa-linkedin.linkedinSocialIcon {
        padding-left: 10%;
    }

    .socialLink:hover {
        color: #333;
        text-decoration: none;
    }

}

