@media only screen and (min-device-width: 0px) and (max-device-width: 319px)  { 
    body {
        display: none;
    }
}
/*Home section*/
.nameColumn {
    text-align: center;
    height: 50vh;
    width: 100vw;
}

.nameColumn h1 {
    padding-top: 15%;
    color: #000;
    font-size: 375%;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    text-align: center;
}

.homeColumn {
    display: none;
}

.phoneHomeColumn {
    padding-top: 23%;
    display: block;
    background: #000;
    height: 50vh;
    width: 100vw;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
} 

.homeSection {
    width: 100vw;
    height: 100vh;
    background: #fff;
}

.sectionLinksList li {
    display: inline;
    font-size: 150%;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-weight: lighter;
}

.sectionLinksList li > a:link{
    color: #fff;
    border-bottom: 0.05em solid #fff;
    padding: 2%;
}

.sectionLinksList li > a:visited {
    color: #fff;
    padding: 2%;
} 

.sectionLinksList li > a:hover{
    color: #fff;
    text-decoration: none;
    font-weight: 1000;
}

#skill-link-in-home {
    margin-right: 2%;
    margin-left: 2%;
}

/*Projects section*/
.phone-projects {
    display: block;
    padding-right: 0;
    padding-left: 0;
}

.other-devices {
    display: none; 
}

.projectsSection {
    width: 100vw;
    height: 100vh;
    text-align: center;
    border-bottom: 0;
    border-top: 0;
}

.projectSectionHeader {
    font-size: 225%;
    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.white-phone-project {
    background: #fff;
    color: #000;
    padding-left: 0;
    padding-right: 0;
}

.black-phone-project {
    background: #000;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
}

.project-name-header {
    font-size: 200%;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;  
}

.white-project-header-phone {
    color: #000;
}

.black-project-header-phone {
    color: #fff;
}

.github-project-image, .the-C-blog-image, .help-image, .traffic-tracker-image, .rant-on-image {
    border-radius: 100%;
    height: 13vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.75%;
    margin-top: -0.25%;
}

/*Skills Section*/
.skillsSection {
    width: 100vw;
    height: 50vh;
    background-color: #fff; 
    /*margin-top: 7.75%;*/
}

.skillsHeader {
    font-size: 225%;
    color: #000;
    padding-top: 0.25%; 
    padding-bottom: 0.25%; 
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
}

.back-end-row {
    /*margin-top: 9%;*/
    /*padding-bottom: 2%;*/
    height: 25vh;
}

.front-end-row {
    background-color: #000;
    height: 25vh;
    padding-bottom: 24.75%;
}

.back-end-column, .front-end-column {
    width: 100vw; 
}


.back-end-skills-header, .front-end-skills-header {
    font-size: 175%;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal; 
}

.skill-description, .front-end-skill-description  {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.back-end-skills-header, .skill-description {
    color: #000;
}

.front-end-skills-header, .front-end-skill-description {
    color: #fff;
}

.skills-white {
    background: #fff;
}

.skill-icons {
    display: none;
}

/*Contact Section*/
.contactSection {
    height: 5vh;
    margin-top: 14%;
    margin-bottom: 8%;
}

.contactSectionHeader { 
    color: #000;
    text-align: center; 
    font-family: 'Work Sans', sans-serif;
    font-weight: normal; 
    font-size: 225%; 
}

.contactInfo {
    text-align: center;
}

.fa.fa-envelope.emailIcon { 
    color: #000;
    font-size: 130%;
}

a > span.email {
    color: #000;
    font-size: 115%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#emailLink:hover {
    color: #000;
    text-decoration: none;
}

.socialInfo {
    text-align: center;
    display: inline-block;  
}

.fa.fa-github.githubSocialIcon, .fa.fa-linkedin.linkedinSocialIcon {
    color: #000;
    font-size: 220%;
}

.fa.fa-linkedin.linkedinSocialIcon {
    padding-left: 10%;
}

.socialLink:hover {
    color: #000;
    text-decoration: none;
}
