/*Center align content in .jumbotron*/

.jumbotron {
  text-align: center;
}


/*Change font of .jumbotron h1*/

.jumbotron h1 {
  font-family: Pattaya;
  font-size: 90px;
}


/*Change font of .jumbotron p*/

.jumbotron p {
  font-family: Ruthie;
  font-size: 60px;
}


/*Change font of .jumbotron a*/

.jumbotron a {
  font-family: Sofia;
  font-size: 30px;
}


/*Animate content in .motto and .jumbotron p*/

.motto, .jumbotron p {
  color: #922B21;
  position: relative;
  /* Chrome and Safari*/
  -webkit-animation-name: motto-animation;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  /*Firefox*/
  -moz-animation-name: motto-animation;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  /*Opera*/
  -o-animation-name: motto-animation;
  -o-animation-duration: 4s;
  -o-animation-iteration-count: infinite;
  animation-name: motto-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


/*Chrome and Safari*/

@-webkit-keyframes motto-animation {
  0% {
    color: #922B21;
  }
  25% {
    color: #B03A2E;
  }
  50% {
    color: #76448A;
  }
  75% {
    color: #6C3483;
  }
  100% {
    color: #1F618D;
  }
}


/*Fifefox*/

@-moz-keyframes motto-animation {
  0% {
    color: #922B21;
  }
  25% {
    color: #B03A2E;
  }
  50% {
    color: #76448A;
  }
  75% {
    color: #6C3483;
  }
  100% {
    color: #1F618D;
  }
}


/*Opera*/

@-o-keyframes motto-animation {
  0% {
    color: #922B21;
  }
  25% {
    color: #B03A2E;
  }
  50% {
    color: #76448A;
  }
  75% {
    color: #6C3483;
  }
  100% {
    color: #1F618D;
  }
}
